<span><%=index+1%></span>
<figure class="text-center">
    <blockquote class="blockquote">
      <p><%=review%></p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <%=name%>
    </figcaption>
  </figure>
  <hr>